<?xml version="1.0"?>
<configuration>

	<!-- This is required for .Net to use the SQLite .dll stuff. (see line 30 of Program.cs) -->
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
		</DbProviderFactories>
	</system.data>

	<!-- This is the actual information needed to create a connection to the database.  It can be altered to use sql server.-->
	<connectionStrings>
		<add name="TestDatabase" connectionString="Data Source=./TestDatabase.sqlite;" providerName="System.Data.SQLite"/>
	</connectionStrings>

</configuration>
